/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	font-family: 'Roboto', sans-serif;
	font-style: 14px;
	color: #0A143A;
}

.container {
	max-width: 1146px;
	margin: auto;
}

.header {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 12px;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 24px;
}
.navbar-menu {
	margin-right: auto;
}
.menu {
	padding-left: 22px;
	display: flex;
}
.menu-link:not(:last-child) {
	margin-right: 14px;
	color: inherit;
}
.menu-link {
	color: inherit;
}
.button {
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}
.button-link {
	color: inherit;
}
.button-primary {
	background: #256EEB;
	border-radius: 5px;
	color: white;
}
.search-panel {
	height: 50px;
	background: #256EEB;
	border-radius: 5px;
	display: flex;
	padding: 3px;
}
.search-input {
	flex-grow: 1;
	background: #FFFFFF;
	border-radius: 5px;
	padding-left: 22px;
	padding-right: 22px;

}
.search-button {
	background: #256EEB;
	color: white;
	padding-left: 20px;
	padding-right: 17px;
	display: flex;
	align-items: center;
}
.search-button-text {
	margin-left: 5px;
}
.page-content {
	display: grid;
	grid-template-columns: 9fr 3fr;
	grid-column-gap: 30px;
}
.card-image {
	border-radius: 10px;
	width: 264px;
	height: 178px;
	object-fit: cover;
}
.cards {
	display: flex;
	flex-wrap: wrap;
}
.card {
	margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
	margin-right: 20px;
}
.card-title {
	font-size: 16px;
	line-height: 19px;
	color: #256EEB;
	margin-top: 12px;
	margin-bottom: 5px;
}
.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.like {
	background-color: #fff;
	border: none;
	cursor: pointer;
	margin-left: 15px;
}
.card-price {
	font-size: 16px;
	line-height: 19px;
	color: #0A143A;
	margin-bottom: 10px;
	display: block;
}
.card-text {
	font-size: 14px;
	line-height: 16px;
	color: #C4C4C4;
	margin-bottom: 4px;
	margin-top: 0;
}
.service {
	margin-bottom: 25px;
}
.service-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	margin-top: 7px;
	margin-bottom: 5px;
}
.service-text{
	font-size: 14px;
	line-height: 16px;
	max-width: 217px; 
}
.page-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 23px;
}
.page-title2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 23px;
}
.hr {
	border: 1px;
	height: 1px;
	margin-bottom: 16px;
}
.footer-text {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	color: #C4C4C4;
	margin-bottom: 5px;
}
.footer-menu {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
	list-style: none;
}
.footer-link {
	display: inline-block;
	color: inherit;
	margin-bottom: 5px;
}